<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">About Me</p>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br/>

					<p class="minimized-line-height dark">Game Teasers & Trailers
						<p class="minimized-line-height">
							<a href="https://vimeo.com/354754812" class="text-decoration-none" target="_blank">Borderlands 3 Teaser Trailer - Gearbox</a><br/>
							<a href="https://vimeo.com/440445566" class="text-decoration-none" target="_blank">The Outer Worlds Cinematic Announcement Trailer - Obsidian</a><br/>
							<a href="https://www.youtube.com/watch?v=eN448PFGtX0" class="text-decoration-none" target="_blank">Vampire: The Masquerade - Bloodlines 2 Trailer - Paradox</a><br/>
							<a href="https://vimeo.com/618452690/74149246ee" class="text-decoration-none" target="_blank">New World Launch Trailer</a><br/>
							<a href="https://vimeo.com/581264396" class="text-decoration-none" target="_blank">Tiny Tina's Wonderlands Cinematic Announcement Trailer - Gearbox</a><br/>
							<a href="https://vimeo.com/423766448" class="text-decoration-none" target="_blank">Kerbal Space Program 2 Cinematic Announcement Trailer - Private Division</a><br/>
							<a href="https://vimeo.com/846798752" class="text-decoration-none" target="_blank">Remnant 2 Launch Trailer - Gearbox</a><br/>
							<a href="https://www.youtube.com/watch?v=kgbIecfhjlg">Fortnite Trailers - Epic Games</a><br/>
						</p>
					</p>
                    <br/>
                    <p class="minimized-line-height dark">
						Previs for Film & TV
						<p class="minimized-line-height">
							<a href="https://vimeo.com/390889009" class="text-decoration-none" target="_blank">Call of the Wild - Fox Studios</a><br/>
							<a href="https://www.youtube.com/watch?v=avz06PDqDbM&list=PLLcxd4soKLM4R4T9OCAMqgZomfemFjsH1&index=2" class="text-decoration-none" target="_blank">Mission Impossible 7 - Paramount</a><br/>
							<a href="https://www.youtube.com/watch?v=gV_0pYoCssc" class="text-decoration-none" target="_blank">Pinocchio - Disney</a><br/>
							<a href="https://vimeo.com/881051749" class="text-decoration-none" target="_blank">Hunger Games - The Ballad of Songbirds & Snakes</a><br/>
							<a href="https://vimeo.com/1018017565" class="text-decoration-none" target="_blank">SportsCenter LED Wall Environment - ESPN</a><br/>
							<a href="https://vimeo.com/819203283" class="text-decoration-none" target="_blank">Avastars</a><br/>
						</p>
					</p>
                    <br/><br/>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://david-miller.life/pages/david-miller-resume.pdf" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" download>Resume</a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Devblog</a>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>