<section class="hero is-fullheight has-text-centered has-background-white-ter" id="videos">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Technical Art Reel</p>
            </div>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

                    <div class="video-grid video-container">
                        <!-- Repeat this iframe for each video -->
                        <video controls poster="https://david-miller.life/videos/david-miller-demo-reel.jpg" width="100%">
                          <source src="https://david-miller.life/videos/david-miller-demo-reel.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>



                        <!-- nope
                        <iframe src="https://david-miller.life/videos/david-miller-demo-reel.mp4" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        -->
                      </div>
                    <br/><br/>
                </div>
            </div>

            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Game Cinematics</p>
            </div>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="video-grid">

                        <!-- Repeat this iframe for each video -->
                        <iframe src="https://www.youtube.com/embed/e4sCLYMSokg?si=DEXEgkOj2KYI_PyS" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite CH7S2 -->
                        <iframe src="https://www.youtube.com/embed/Eln66CJHna8?si=I_Mw9Tz60xKmuhBv" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite CH7S1 -->
                        <iframe src="https://www.youtube.com/embed/7ZIbokU9tRg?si=N75EaphszvkVUiBU" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite CH6S3 -->
                        <video controls poster="https://david-miller.life/videos/KSP2.jpg" width="100%">
                          <source src="https://david-miller.life/videos/Kerbal Space Program 2 Early Access Launch Cinematic 2023.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- KSP2 -->

                        <!-- Next Row -->
                        <video controls poster="https://david-miller.life/videos/NewWorld.jpg" width="100%">
                          <source src="https://david-miller.life/videos/New World Intro Cinematic 2021.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- New World -->
                        <video controls poster="https://david-miller.life/videos/Vampire.jpg" width="100%">
                          <source src="https://david-miller.life/videos/Vampire The Masquerade Bloodlines 2 - Official Next-Gen Trailer.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- Bloodlines 2 -->
                        <video controls poster="https://david-miller.life/videos/TinyTina.jpg" width="100%">
                          <source src="https://david-miller.life/videos/Tiny Tinas Wonderlands Announcement Trailer 2021.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- Wonderlands -->
                        <video controls poster="https://david-miller.life/videos/Remnant2.jpg" width="100%">
                          <source src="https://david-miller.life/videos/Remnant II Launch Trailer 2023.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- Remnant 2 -->



                        <!-- Next Row -->
                        <video controls poster="https://david-miller.life/videos/Borderlands.jpg" width="100%">
                          <source src="https://david-miller.life/videos/Borderlands 3 2019 Game Cinematic Teaser Trailer.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- Borderlands 2 -->
                        <iframe src="https://www.youtube.com/embed/6M3-AwaIwzM?si=V1o_gv77o3LX9Ia3" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite CH3S2 -->
                        <iframe src="https://www.youtube.com/embed/sQK_4Obwewk?si=4upvgCBoEvvOCVFf" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite Indiana Jones -->
                        <iframe src="https://www.youtube.com/embed/RsyNqLDgARY?si=c5BspWgyUr6ayV1E" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Fortnite Dark Vader -->



                      </div>
                    <br/><br/>
                </div>
            </div>


            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Film and Screen Work</p>
            </div>

            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="video-grid">
                        <!-- Repeat this iframe for each video -->
                        <video controls poster="https://david-miller.life/videos/HungerGames.jpg" width="100%">
                          <source src="https://david-miller.life/videos/The Hunger Games - The Ballad of Songbirds Snakes 2023 Visualiza.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- HungerGames -->
                        <video controls poster="https://david-miller.life/videos/ESPN.jpg" width="100%">
                          <source src="https://david-miller.life/videos/ESPN SportsCenter VP Environments.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- ESPN -->
                        <iframe src="https://www.youtube.com/embed/gV_0pYoCssc?si=1nrU254fwyMM11Yv" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Pinnochio -->
                        <iframe src="https://www.youtube.com/embed/avz06PDqDbM?si=kPCN1vV4jryfTZCs" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- MI:7 -->
                        <iframe src="https://www.youtube.com/embed/HT0mFQNHnGU?si=zkyvcvohy9V3Zhs9" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Masters of the Air -->
                        <video controls poster="https://david-miller.life/videos/CotW.jpg" width="100%">
                          <source src="https://david-miller.life/videos/The Call Of The Wild 2020 Previs Reel.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video><!-- COTW -->




                    </div>
                    <br/><br/>
                </div>
            </div>

        </div>
    </div>
</section>
