<section class="hero is-fullheight has-text-centered has-background-white-ter" id="videos">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Past Work</p>
            </div>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

                    <div class="video-grid">
                        <!-- Repeat this iframe for each video -->
                        <iframe src="https://player.vimeo.com/video/390889009" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/881051749" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/avz06PDqDbM?si=kPCN1vV4jryfTZCs" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/gV_0pYoCssc?si=1nrU254fwyMM11Yv" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <!-- Next Row -->
                        <iframe src="https://player.vimeo.com/video/1018017565" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/819203283" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/577746630" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/7ZIbokU9tRg?si=N75EaphszvkVUiBU" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <!-- Next Row -->
                        <iframe src="https://player.vimeo.com/video/729370214" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/690634924" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/541847075" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

                        <iframe src="https://www.youtube.com/embed/eN448PFGtX0?si=hlJMC90EDxJhOxjV" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/581264396" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/423766448" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/846798752" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <!-- … add up to 20 videos -->
                      </div>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
</section>


