<section class="hero is-fullheight has-text-centered has-background-white-ter" id="videos">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Past Work</p>
            </div>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

                    <div class="video-grid">
                        <!-- Repeat this iframe for each video -->
                        <iframe src="https://vimeo.com/390889009" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/22439234" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <iframe src="https://player.vimeo.com/video/146022717" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <!-- … add up to 20 videos -->
                      </div>


                </div>
            </div>
        </div>
</section>