/* Footer */
.footer a {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: content-box;
}

.footer a img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.footer a img:hover {
  transform: scale(1.5);
}


.image1 video {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.75;
}