/* Footer */
.footer a {
    margin: 0px;
    padding: 10px;
    box-sizing: content-box;
}

.footer a img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.footer a img:hover {
  transform: scale(1.5);
}