/* Footer */
.footer a {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: content-box;
}

#blog {
    background-color: dimgray;
}

#blog #blog-card a {
    background-color: white;
}

#hero {
    background: linear-gradient(0deg, #000 0%, rgba(0,0,0,0.0) 100%)!important;
}

#videos {
    background: rgba(35,35,35,35.0)!important;
}

.subtitle .is-blog-header {
    color: white !important;
}

.highlighter-rouge .highlight pre,
.highlighter-rouge .highlight code {
    white-space: pre-wrap;      /* allow wrapping */
    word-wrap: break-word;      /* break long tokens */
}


.footer a img {
    width: 26px;
    height: 26px;
    transition: transform 0.2s ease;
}

.footer a img:hover {
  transform: scale(1.5);
}

.copyright {
    display: inline-flex;
}

.image1 video {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video-grid iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* keeps proper video ratio */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.post-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.container post {

}